#header {
    color: purple;
    font-family: 'shrikhand', sans-serif;
    padding-top: 50px;
}
#subheader {
    color: white;
    font-family: 'Raleway', sans-serif;
    padding-bottom: 50px;
}

#login-title {
    padding-top: 15px;
}

.heading {
    margin-top: 105px;
    margin-bottom: 70px;
}