.search{
    display: flex;
    flex-direction: column;
    border: 2px solid purple;
    max-width: 800px;
    min-width: 600px;
}

.search-input,
.search-display{
    border: 2px solid purple;
    /* max-width: 300px; */
}

.search-display{
    height: 1000px;
    overflow: scroll;
}