
#search-input {
    margin: 10px 50px 50px 50px;
    /* border-radius: 5px; */
}

#button{
    width: 50px;
}

input[type=text] {
    width: 100%;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    background-color: white;
    /* background-image: url('searchicon.png'); */
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
}

#search-display {
    margin: 50px 50px 0 50px;
    border-radius: 5px;
    /* height: 850px; */
    overflow: scroll;
    background-color: white;
}


#search {
    padding: 0;
    height: 850px;
  
}
