#header-mini {
    color: purple;
    font-family: 'shrikhand', sans-serif;
}

#greeting,
#username {
    color: slategrey;
    font-family: 'Raleway', sans-serif;
}

#navbar{
    background-color: white;
}

.icon {
    color: purple;
}