
#event-list{
    background-color: white;
    /* margin-left: 45px;
    margin-right: 20px; */
    border-radius: 5px;
}

#event-title{
    padding-bottom: 10px;
}

.event-img > img {
    height: 200px;
    width: 200px;
}

#event-card{
    height: 500px;
    text-overflow: ellipsis;
    overflow: hidden;
}

#event-description{
    height: 150px;
    text-overflow: ellipsis;
    overflow: hidden;
}