
.locations,
.interests {
    padding-top: 15px;
    height: 225px;
    width: 225px;
    margin: 0 15px 15px 15px;
}

.locations-card,
.interests-card {
    padding-top: 15px;
    height: 160px;
    width: 210px;
    margin: 0 15px 15px 10px;
    font-size: 10px;
}

.icon {
    padding: 2px;
}

.chip {
    display: inline-block;
    width: auto;
    height: 25px;
    line-height: 25px;
    border-radius: 25px;
    background-color: #f1f1f1;
}

#profile {
    background-color: white;
    margin-left: 45px;
    margin-right: 20px;
    border-radius: 5px;
}

#avatar {
    width: 150px;
    height: 150px;
    margin-left: auto;
    margin-right: auto;

}

.img-preview{
    padding: 15px;
}

#input-imgUrl{
    background-color: #fff;
    border-radius: 4px;
    border: 1px solid #ced4da;
    width: 175px;
    overflow: hidden;
}

#input-imgUrl:focus{
    border-color: rgb(110, 9, 110);
    box-shadow: 0 0 0 0.2rem rgba(110, 9, 110, 0.301);
    outline: 0;
    
}