.profile{
    border: 2px solid purple;
    max-width: 300px;
}


img {
    max-height: 175px;
    max-width: 175px;
}

.interests,
.locations,
.img-preview {
    height: 250px;
    width: 250px;
    border: 2px solid purple;
}